#head {
  background-color: #191970;
  height: 40vh;
}
header h1{
  color: White;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  padding-top: 50px;
}

#open-menu {
  position: static;
  font-size: 200%;
  left: 3%;
  color: white;
}

#close-menu {
  position: absolute;
  font-size: 200%;
  left: 3%;
  color: white;
  align-content: center;
  text-align: left;
}

/*Styling the menu*/

aside {
  display: run-in;
  justify-content: space-around;
  align-items: flex-end;
  height: 55vh;
  width: 35vw;
  z-index: 10;
  position: inherit;
  left: 5%;
  background-color: #4169e1;
  padding-left: 0px;
  margin-left: 0px;
}

#content {
  text-align: left;
  color: white;
}

#the-menu {
  text-align: left;
  list-style: none;
}

#the-menu li {
  padding: 15%;
  font-size: 200%;
  text-transform: uppercase;
  color: white;
}

#the-menu a {
  color: white;
  text-align: left;
  align-content: flex-start;
}
